.formulario-login__btn {
  width: 400px;
  height: 50px;
  padding-left: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 16px;
  border-style: groove;
  border-color: #cccccc;
  cursor: pointer;

  &--green {
    background-color: #729e2e;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
  }

  &--google {
    background-color: #fff;
    font-weight: 700;
    font-size: 18px;
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 5px;
  }

  &--google img {
    width: 30px;
  }
}
